/**Global*/
:root {
    --primary: #ff4646;
    --dark: #181c29;
    --static-white: #fff;
    --content-background: #ecf3f8;
    --tag-purple: #4361ff;
    --tag-pink: #ff43f7;
    --tag-green: #06a44f;
    --primary-10: rgba(255, 70, 70, 0.1);
    --static-white-20: rgba(255, 255, 255, 0.2);
    --static-white-40: rgba(255, 255, 255, 0.4);
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 0.05em;
    font-weight: 400;
    color: var(--dark);
    overflow-x: hidden;
    margin: 0 auto;
}
.lock {
    overflow: hidden;
    position: fixed;
}
/**Header*/
header {
    padding: 12px 82px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 11px;
}
.wrapper{
    overflow: hidden;
    width: 100%;
    position: relative;
}
.logo {
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    width: 142px;
}
.logo h1 {
    color: #181C29;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
    margin: 0;
}
.headerMenu {
    max-width: 1123px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.headerMenu ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style-type: none;
    gap: 8px;
}
.headerMenu ul li {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.headerMenu ul li a {
    text-decoration: none;
    color: #181C29;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
    transition: 0.5s;
}
.headerBurger {
    display: none;
    position: relative;
    z-index: 50;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
.headerBurger span {
    position: absolute;
    content: '';
    height: 1px;
    width: 20px;
    background-color: var(--dark);
    transition: transform 0.5s;
}
.headerBurger span:nth-child(1) {
    transform: translateY(5px);
}
.headerBurger span:nth-child(2) {
    transform: translateY(-5px);
}
.header.open .headerBurger span:nth-child(1) {
    transform: translate(0) rotate(45deg);
}
.header.open .headerBurger span:nth-child(2) {
    transform: translate(0) rotate(-45deg);
}
.unActive {
    border-radius: 12px;
    background: var(--primary-10);
    color: var(--primary);
    font-size: 12px;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.6px;
    cursor: default;
    pointer-events: none;
}
/**Main*/
.mainContainer {
    background-color: var(--primary);
    border-radius: 20px;
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.btn {
    color: var(--static-white);
    letter-spacing: 0.05em;
    background: var(--dark);
    border-radius: 20px;
    padding: 20px 32px;
    display: inline-block;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: var(--static-white);
    transition: 0.5s;
    cursor: pointer;
    color: var(--dark);
}
.title {
    font-family: "Allura", sans-serif;
    text-transform: none;
    color: var(--static-white);
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
}
.subtitle {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.18em;
    max-width: 426px;
    color: var(--static-white);
}
/**Hero*/
.heroContainer {
    max-height: 524px;
    height: 100%;
    background: url(../assets/images/bg-ball.png) no-repeat center / 100%, url(../assets/images/bg-snow.png) no-repeat center / 100%, #FF4646;
    border-radius: 20px;
    padding-top: 68px;
    padding-bottom: 52px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.heroInner {
    margin: 0 auto;
    padding-top: 54px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    max-width: 426px;
}
.heroSubtitle {
    font-size: 32px;
}
/**About*/
.aboutInner {
    margin-top: 60px;
    border-radius: 20px;
    margin-bottom: 120px;
    gap: 20px;
    background-color: var(--static-white);
    display: flex;
    justify-content: space-between;
}
.aboutContent {
    max-width: 470px;
    display: flex;
    gap: 20px;
    padding-left: 60px;
    padding-top: 160px;
    flex-direction: column;
}
.about {
    padding-left: 82px;
    padding-right: 82px;
}
.aboutTitle {
    text-align: start;
    color: var(--primary);
}
.aboutText {
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.0em;
    line-height: 24px;
    color: var(--dark);
}
.aboutSubtitle {
    font-weight: 600;
    font-size: 23px;
    line-height: 1.5;
    letter-spacing: 0.18em;
    color: var(--dark);
}
.aboutImg {
    max-width: 638px;
    height: 528px;
    width: 100%;
    position: relative;
}
.aboutImg img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
    object-fit: cover;
}
/**Slider*/
.sliderTitle,
.sliderSubTitle,
.bestGiftsTitle,
.bestGiftsSubTitle,
.ctaGiftsTitle,
.ctaGiftsSubTitle {
    text-align: center;
}
.sliderSubTitle {
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 3.7px;
    text-transform: uppercase;
}
.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../assets/images/bg-snow.png') center/cover no-repeat, var(--primary);
    gap: 20px;
}
.sliderContainer p {
    font-family: 'Allura', sans-serif;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1.2px;
    margin: 0;
    color: var(--static-white);
}
.sliderContainer h3 {
    margin-top: 12px;
}
.sliderContent {
    max-width: 426px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sliderItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: -5px 0 -10px 85px;
    overflow: hidden;
    gap: 20px;
}
.sliderItems p {
    color: var(--static-white);
    font-family: 'Montserrat', serif;
    font-size: 80px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: normal;
}
.sliderItems img {
    max-width: 200px;
    width: 100%;
    border-radius: 20px;
}
.sliderControls {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 82px;
}
.sliderRightBtn,
.sliderLeftBtn {
    border-radius: 20px;
    border: 1px solid var(--static-white);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--static-white);
    background: transparent;
}
.sliderRightBtn:hover {
    background: var(--static-white);
    cursor: pointer;
}
.sliderRightBtn:hover svg path {
    stroke: var(--primary);
}
.sliderLeftBtn svg {
    transform: rotate(180deg);
}
.sliderLeftBtn:disabled {
    border: 1px solid rgba(255, 255, 255, 0.40);
}
.sliderLeftBtn:disabled svg path {
    stroke: rgba(255, 255, 255, 0.40);
}
/**Gifts*/
.bestGifts {
    max-width: 1440px;
}
.giftsContainer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../assets/images/bg-snow.png') center/cover no-repeat, var(--primary);
    gap: 20px;
}
.giftsContainer p {
    font-family: 'Allura', sans-serif;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1.2px;
    margin: 0;
    color: var(--static-white);
}
.giftsItems {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.giftsDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.giftsSubtitle {
    color: var(--static-white);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 150%;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    max-width: 426px;
}
.ItemWork,
.ItemHealth,
.ItemHarmony {
    display: flex;
    width: 310px;
    height: 342px;
    flex-direction: column;
    background: var(--content-background);
    border-radius: 20px;
    cursor: pointer;
}
.ItemWork img,
.ItemHealth img,
.ItemHarmony img {
    background-color: var(--content-background);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.ItemWork div,
.ItemHealth div,
.ItemHarmony div {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 43px 20px;
    gap: 8px;
    background: var(--static-white);
    border-radius: 20px;
    max-height: 112px;
    height: 100%;
}
.ItemWork div h4,
.ItemHealth div h4,
.ItemHarmony div h4 {
    margin: 0;
}
.ItemWork h4,
.ItemHealth h4 {
    color: var(--tag-purple);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.ItemWork p,
.ItemHealth p,
.ItemHarmony p {
    color: var(--dark);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 152%;
    text-transform: uppercase;
    letter-spacing: 1.28px;
}
.ItemWork:hover p,
.ItemHealth:hover p,
.ItemHarmony:hover p {
    color: var(--primary);
    transition: 0.7s;
}
.ItemHealth h4 {
    color: var(--tag-green);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.ItemHarmony h4 {
    color: var(--tag-pink);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.giftsPageContainer {
    max-width: 1440px;
    padding: 63px 12px 58px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: url('../assets/images/bg-garland.png') no-repeat top / contain, var(--primary);
}
.giftsPageContainer h2 {
    color: var(--static-white);
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 5.76px;
    text-transform: uppercase;
    max-width: 426px;
    text-align: center;
    margin: 0;
}
.giftsPageContainer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    gap: 8px;
    margin: 0;
    padding: 0;
}
.giftsPageContainer ul li {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--static-white);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.6px;
}
.giftsPageContainer ul li:hover {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.20);
    transition: 0.5s;
}
.active {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.20);
    transition: 0.5s;
    cursor: default;
    pointer-events: none;
}
.giftsItems {
    flex-wrap: wrap;
    justify-content: center;
}
.ItemWork p,
.ItemHealth p,
.ItemHarmony p {
    margin: 0;
}
/**Modal*/
.popup {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #ECF3F8;
    position: relative;
}
.popup img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
}
.popup_info {
    border-radius: 20px;
}
.popup_content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    background: #FFF;
}
.popup_info h4,
.superpowers {
    color: #4361FF;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.popup_info h4 {
    margin-top: 0;
}
.popup_info h3 {
    color: #181C29;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}
.popup_info p {
    color: #181C29;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
    margin-bottom: 0;
}
.superpowers {
    margin: 0;
    color: #181C29;
}
.points_info {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.points_info p {
    margin: 0;
}
.desc {
    max-width: 184px;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
    color: #181C29;
}
.points {
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
    color: #181C29;
}
.snowflakes {
    display: flex;
    width: 112px;
    align-items: center;
    justify-content: space-between;
}
.snowflakes_red {
    width: 14px;
    height: 16px;
    background: url('../assets/icons/snowflake.svg') no-repeat center / cover;
    color: #FF4646;
}
.snowflakes_none {
    width: 14px;
    height: 16px;
    background: url('../assets/icons/snowflake_none.svg') no-repeat center / cover;
    color: #FF4646;
}

.cards_popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 28, 41, 0.80);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
}
.cards_popup.open {
    opacity: 1;
    visibility: visible;
}
.close_btn {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
.popup_container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
}

@media(max-width: 400px) {
    .modal-box {
        width: 360px;
    }
}
/**cta*/
.cta {
    background: url(../assets/images/bg-forest.png) no-repeat center center / cover, url(../assets/images/bg-snow.png) no-repeat center center / cover, #FF4646;
    min-height: 668px;
    border-radius: 0 0 20px 20px;
}
.ctaContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 668px;
}
.ctaContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ctaSubTitle {
    color: var(--static-white);
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 3.7px;
    text-transform: uppercase;
    margin-bottom: 9px;
}
.ctaGiftsTitle {
    margin-top: 20px;
    margin-bottom: 8px;
}
.ctaBtn {
    margin-top: 9px;
}
.timerInner {
    display: flex;
    justify-content: center;

}
.timerCount {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    color: var(--static-white);
    border-radius: 20px;
    background-color: var(--static-white-40);
    padding: 20px 12px 20px 15px;
    width: 344px;
    height: 72px;
}
.timer {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 52px;
    position: relative;
}
.timer:not(:last-child):after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background: rgba(255, 255, 255, 0.4);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.timerNum {
    font-weight: 600;
    line-height: 1.52;
    letter-spacing: 0.16em;
    font-size: 24px;
    text-align: center;
}
.timerTm {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-align: center;
}
/**Footer*/
.footer {
    margin-bottom: 60px;
    margin-top: 49px;
}
.footerInner {
    display: flex;
    justify-content: center;
    /*margin: 0 auto;*/
}
.footerInnerItems {
    display: flex;
    gap: 12px;
    padding-top: 12px;
}
.footerInnerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 417px;
    background-color: var(--content-background);
    border-radius: 20px;
    padding: 20px;
}
.footerInnerItemLink {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 24px;
    line-height: 1.52;
    letter-spacing: 0.16em;
}
.footerInnerItemTitle {
    font-weight: 600;
    font-size: 16px;
}
.social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
}
.socialLinks {
    display: flex;
    gap: 29px;
    margin-bottom: 15px;
    color: transparent;
}
.socialLinks svg {
    flex-grow: 1;
}
.socialLinks svg path {
    transition: all 0.3s ease;
}
.socialLinks a:hover svg path {
    transition: stroke 0.2s;
    stroke: var(--primary);
}
.socialLinks:active {
    opacity: 0.7;
}
.copyright {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0rem;
    line-height: 140%;
    text-align: center;
    color: #181c29;
    text-transform: none;
}
.byRSSchool {
    font-family: "Allura", sans-serif;
    text-transform: none;
    font-size: 24px;
    font-weight: 400;
    color: var(--dark);
    line-height: 1;
    letter-spacing: 0.05em;
}
.byRSSchool:hover {
    transition: all 0.3s ease;;
    color: var(--primary);
}
.footerInnerItem:hover {
    transition: all 0.3s ease;;
    color: var(--primary);
}
.footerInnerItemTitle:hover {
    transition: all 0.3s ease;;
    color: var(--primary);
}
/**Media*/
@media (hover: hover) {
    .sliderControlsBtn:hover:not(.sliderControlsBtnDs) {
        background: var(--static-white);
    }
    .sliderControlsBtn:hover:not(.sliderControlsBtnDs) svg path {
        stroke: var(--primary);
    }
    .sliderControlsBtn:active:not(.sliderControlsBtnDs) {
        opacity: 0.7;
    }
    .headerMenu ul li:hover {
        border-radius: 12px;
        background-color: var(--primary-10);
        color: var(--primary);
    }
    .headerMenu ul li:hover a {
        color: var(--primary);
    }
}
@media (hover: none) {
    .headerMenu ul li:active {
        border-radius: 12px;
        background-color: var(--primary-10);
        color: var(--primary);
        transition: 0.5s;
    }
    .headerMenu ul li:active a {
        color: var(--primary);
        transition: 0.5s;
    }
}
@media (max-width: 1300px) {
    .giftsItems {
        width: 900px;
    }
    .about {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer {
        margin-bottom: 60px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .social {
        padding-bottom: 60px;
    }
}
@media (max-width: 1140px) {
    .footerInnerItem {
        width: 290px;
    }
    .footerInnerItemLinkSpan {
        font-size: 18px;
    }
}
@media (max-width: 1024px) {
    .footerInnerItem {
        width: 290px;
    }
    .footerInnerItemLinkSpan {
        font-size: 24px;
    }
    .footerInnerItems {
        flex-wrap: wrap;
    }
    .footerInnerItem {
        width: 100%;
        margin-left: 8px;
        margin-right: 8px;
    }
}
@media (max-width: 768px) and (min-width: 350px){
    header {
        padding: 0.75em 0.5em;
        gap: 0;
    }
    .header .logo {
        z-index: 100;
        position: relative;
    }
    .headerMenu ul {
        position: absolute;
        right: -100vw;
        top: 34px;
        width: 100vw;
        height: 100vh;
        background-color: var(--static-white);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 1s;
        padding: 0;
        margin: 0;
        z-index: 1;
        align-self: stretch;
    }
    .headerMenu ul li a, .unActive{
        font-size: 24px;
        letter-spacing: 3.84px;
    }
    .headerMenu ul .unActive a {
        color: var(--primary);
    }
    .header.open .headerMenu ul {
        transform: translateX(-100%);
        transition: transform 1s;
    }
    .headerBurger {
        display: flex;
        z-index: 100;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }
    .header.open.headerBurger ul {
        transform: translateX(-100%);
        transition: transform 1s;
    }
    .heroContainer {
        background-size: cover;
    }
    .heroInner {
        padding-top: 52px;
        padding-bottom: 70px;
    }
    .about {
        padding-left: 8px;
        padding-right: 8px;
    }
    .aboutContent {
        width: 376px;
        padding: 108px 42px 0 39px;
        margin-left: 20px;
    }
    .aboutText {
        width: 256px;
    }
    .bestGifts {
        width: 100%;
    }
    .ctaContainer {
        margin-top: 0;
    }
    .giftsPageContainer {
        padding: 60px 9px 0 9px;
    }
    .giftsPageContainer ul {
        gap: 0.3125em;
    }
    .giftsItems {
        margin-bottom: 60px;
    }
    .sliderControls {
        padding-right: 10px;
    }
    .footer {
        margin: 0 auto;
    }
    .footerInner {
        margin-top: 48px;
    }
    .footerInnerItemLinkSpan {
        font-size: 24px;
    }
    .footerInnerItemLink {
        margin: 12px 0 12px 5px;
        line-height: 1.59;
        letter-spacing: 0.18em;
    }
    .footerInnerItems {
        flex-wrap: wrap;
    }
    .scrollToTop {
        position: fixed;
        bottom: 8px;
        right: 8px;
        height: 56px;
        width: 56px;
        display: none;
        background-color: var(--static-white);
        border: 1px solid var(--primary);
        border-radius: 28px;
        cursor: pointer;
        z-index: 900;
    }
}
@media (max-width: 640px) {
    .aboutInner {
        gap: 61px;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 61px;
    }
    .aboutContent {
        max-width: 80%;
        min-height: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
    }
    .giftsItems {
        width: 500px;
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media (max-width: 480px) {
    .aboutContent{
        max-width: 100%;
    }
    .aboutImg{
        max-width: 100%;
    }
}
@media (max-width: 380px) {
    .headerContainer {
        padding-top: 14px;
        padding-left: 8px;
        margin-bottom: 19px;
    }
    .lock {
        width: 100%;
    }
    .heroContainer {
        background-position: top;
        background-size: 1364px, cover;
    }
    .about {
        padding-top: 48px;
    }
    .aboutSubtitle {
        line-height: 1.6;
        letter-spacing: 0.20em;
    }
    .aboutContent {
        padding-top: 61px;
    }
    .aboutImg {
        margin-top: 36px;
    }
    .aboutInner {
        gap: 0;
        padding-top: 0;
    }
    .aboutText {
        width: 324px;
    }
    .giftsPageContainer {
        background-size: contain;
        gap: 1.4375em;
    }
    .giftsPageContainer ul {
        gap: 0.3125em;
    }
    .giftsPageContainer ul li {
        padding: 0.75em 0.5em;
    }
    .giftsItems {
        padding-left: 8px;
        padding-right: 8px;
    }
    .cta {
        padding-bottom: 19px;
    }
    .ctaContainer {
        margin-top: 17px;
    }
    .sliderItems {
        margin-left: 473px;
    }
    .copyright {
        font-size: 16px;
    }
}